
#idUl li a{
    display: inline;
}

nav li{
    display: inline-block; 
    height:30px;
    padding-top: 15px;
    position: relative;
}

nav li ul{
    display:none;
    position: absolute;;
    top:0px;
    left:120px;
}
nav li:hover ul{
    display:block;
    position: static;
    top: 0px; 
}

nav ul ul li{
    float:none;
    top: 0px; 
}
nav ul ul a{
    line-height: 5%;
}

